
.header{
    background-color: var(--first-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.header-fijo {
  position: fixed;  
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--first-color);
}
.header-container{
    display: flex;
    flex-direction: column;
}
.header-enlaces {
    display: flex;
    justify-content: end;
    padding-bottom: .5rem;

}
.header-carrito {
    display: grid;
    align-items: center;
    padding-right: .5rem;
}
.header-principal {
    display: flex;
    padding: 0;
}

@media (min-width: 992px ) {
    .header-container{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .header-enlaces{
        flex: 0 0 207px;
    }
   .header-principal{
    padding: 1rem 0 0 0;
    flex: 1;
   }
}


.header-SideBar {
    flex: 0 0 40px;
    
}
@media (max-width:768px ) {
    .header-SideBar {
        padding-top: 2rem;
        align-self: center;
    }
}
.header-top {
    padding-bottom: 1rem;
    padding-left: 1rem;
    flex-direction: column;

    flex: 1;
    
}
@media (min-width: 768px) {
    .header-top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.header-SideBar button {
    background: transparent;
    font-size: 1.8rem;
    border: none;
    color: var(--blanco);;
}
.heading-font{
    font-family: var(--headingFont);
    font-weight: 700;
    color: var(--logo);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .heading-font{
        padding-bottom: 0; 
    }
}
.heading-font span {
    font-size: 1.8rem;
    background-color: var(--logo-span-bg);
    border-radius: .1rem;
    padding: .5rem;
    color: var(--logo-span);
    
}

@media (min-width: 768px) {
    .form-busqueda{
        width: 60%;
    }
    
}

.form-container{
    display: flex;
    justify-content: center;
    
}
.form-div-busqueda:first-child {
    width: 80%;
    text-align: end;
}

.form-div-busqueda input[type="text"]{
    width: 95%;
    font-family: var(--textFont);
    border: 1px solid var(--gris);
    border-radius: 1rem 0 0 1rem;
    padding: 0.5rem 0.8rem ;
    transition: .2s;
}
.form-div-busqueda input[type="text"]:focus {
    outline: 2px solid rgb(1, 112, 248) ;
    width: 100%;
}